form {
    width: 30%;
    height:300px;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
    background-image:
    linear-gradient(
      to right, 
      #FFC0CB, 
      #E6E6FA, 
      #FFA07A, 
      #FFFACD
    );
}

.field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.required {
    color: red;
}

.error {
    border: 1px solid red;
}

h3 {
    text-align: center;
}


  .body{
      height: 600px;
      background:lightskyblue;
  }